<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>Document</title>
  </head>
  <body id="log-body">
    <h1>welcome to your book library</h1>
    <main id="log">
      <div id="login">
        <form class="form-login" action="/login" method="post">
          <h2>LOGIN</h2>
          <input
            class="input-login"
            type="text"
            name="email"
            class="class-book"
            placeholder="email"
          />
          <input
            class="input-login"
            type="password"
            name="password"
            class="class-book"
            placeholder="PASSWORD"
          />
          <input class="button-login input-login" type="submit" value="LOGIN" />
        </form>
      </div>
      <div id="register">
        <form
          class="register-form"
          method="post"
          action="http://localhost:3000/register"
        >
          <h2>Register</h2>
          <input
            class="register"
            type="text"
            name="username"
            class="class-book"
            placeholder="USERNAME"
          />
          <input
            class="register"
            type="password"
            name="password"
            class="class-book"
            placeholder="PASSWORD"
          />
          <input
            class="register"
            type="email"
            name="email"
            class="class-book"
            placeholder="email"
          />
          <input class="register register-but" type="submit" value="REGISTER" />
        </form>
      </div>
    </main>
  </body>
</html>
